  h1 {
     color:orange;
     font-family:Verdana;
    }
    h3 {
     color:orange;
     font-family:Verdana;
     text-decoration: underline;
    }
    p {
     color:white;
     font-family:helvetica;
    }
    body {
     background-color:black;
     border-style:solid;
     border-color:orange;
    }
    div {
     height:200px;
     width:50px;
    }
    p {
     padding-top:50px;
     padding-bottom:50px;
     padding-left:50px;
     padding-right:50px;
    }
    p.groove {outline-style: groove;}
    p {border: 1px orange;}
    p.one {
      outline-style: groove;
      outline-color: orange;
      outline-width: thin;
    }
    p.capitalize {
      text-transform: capitalize;
    }
